{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.0",
    "title" : "Dash API-V2"
  },
  "host" : "stg.api.realogyfg.com",
  "basePath" : "/dashapi",
  "tags" : [ ],
  "schemes" : [ "https" ],
  "security" : [ {
    "apiKeyHeader" : [ ]
  }, {
    "apiKeyQuery" : [ ]
  } ],
  "paths" : {
    "/batches" : {
      "post" : {
        "tags" : [ "Batches" ],
        "summary" : "Batches_Post",
        "description" : " <remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#POSTBATCH').toggle();\" />\r\n  <div id=\"POSTBATCH\">\r\n    <ul>\r\n      <li>This method will be used to submit any entity - Transaction or Listing or Staff or Team or Office (only Marketing information for Domestic offices) or Company in batches</li>\r\n      <li>The data should be submitted as an xml file passed in the content on the REST API HTTP Post Request</li>\r\n      <li>The XSD Schema format for each entity should be as below (click on each entity to see the xsd):</li>\r\n      <ul>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashImportSpecCompany.xsd\" target=\"_blank\">Company</a>\r\n        </li>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashImportSpecOffice.xsd\" target=\"_blank\">Office (only for International)</a>\r\n        </li>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashImportSpecMarketingOffice.xsd\" target=\"_blank\">Office Marketing Information</a>\r\n        </li>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashImportSpecCompanyStaff.zip\" target=\"_blank\">Person</a>\r\n        </li>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashImportSpecTeam.zip\" target=\"_blank\">Team</a>\r\n        </li>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashResidentialSaleListing.zip\" target=\"_blank\">Residential Sale Listing</a>\r\n        </li>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashCommercialSaleListing.zip\" target=\"_blank\">Commercial Sale Listing</a>\r\n        </li>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashResidentialRentalListing.zip\" target=\"_blank\">Residential Rental Listing</a>\r\n        </li>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashTransactionSale.zip\" target=\"_blank\">Sale Transaction</a>\r\n        </li>\r\n        <li>\r\n          <a href=\"https://devopenapi.blob.core.windows.net/spec/dashTransactionOtherIncome.zip\" target=\"_blank\">OtherIncome Transaction</a>\r\n        </li>\r\n      </ul>\r\n      <li>The business rule for each entity will remain the same as the individual synchronous methods</li>\r\n      <li>This method will return a Resource URL (with the Batch ID) and the status of the batch can be obtained using the URL.....</li>\r\n    </ul>\r\n  </div>\r\n</remarks>",
        "operationId" : "Batches_Post",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "entityType",
          "in" : "query",
          "description" : "This parameter represents the Entity Type for which the batch file is being submitted. It can be Company, Office, OfficeMarketing, CompanyStaff, Team, ResidentialSaleListing, CommercialSaleListing, ResidentialRentalListing, SaleTransaction and OtherIncomeTransaction.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "schemaVersion",
          "in" : "query",
          "description" : "This parameter represents the Schema Version",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "Created"
          }
        }
      }
    },
    "/batches/{batchId}" : {
      "get" : {
        "tags" : [ "Batches" ],
        "summary" : "Batches_Get",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#GETBATCH').toggle();\" />\r\n  <div id=\"GETBATCH\">\r\n    <ul>\r\n      <li>This method will be used to get the status of the submitted entities for a given batch by supplying the batch id</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>If Batch ID supplied does not exists in our system, API will return HTTP 404 - Not Found� tatus code</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Batches_Get",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "batchId",
          "in" : "path",
          "description" : "Format - int32. This parameter represents the Batch ID",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BatchResult"
            }
          }
        }
      }
    },
    "/codevalues" : {
      "get" : {
        "tags" : [ "CodeValues" ],
        "summary" : "CodeValues_Search",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#GCBC').toggle();\" />\r\n  <div id=\"GCBC\">\r\n    <ul>\r\n      <li>This method will be used to retrieve the code values for a category by supplying the category name</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CodeValues_Search",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "brand",
          "in" : "query",
          "description" : "This parameter represents the Brand Code",
          "required" : true,
          "type" : "string",
          "enum" : [ "BHG", "C21", "CB", "CBC", "ERA", "SIR", "ZAP", "ZIP" ]
        }, {
          "name" : "categoryName",
          "in" : "query",
          "description" : "This parameter represents the Category Name for which the code values need to be retrieved",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CodeValueArray"
            }
          }
        }
      }
    },
    "/codevalues/features" : {
      "get" : {
        "tags" : [ "CodeValues" ],
        "summary" : "CodeValues_SearchFeatures",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#GF').toggle();\" />\r\n  <div id=\"GF\">\r\n    <ul>\r\n      <li>This method will be used to retrieve the features for a feature category (can be Listing or Property)</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CodeValues_SearchFeatures",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "brand",
          "in" : "query",
          "description" : "This parameter represents the Brand Code",
          "required" : true,
          "type" : "string",
          "enum" : [ "BHG", "C21", "CB", "CBC", "ERA", "SIR", "ZAP", "ZIP" ]
        }, {
          "name" : "featureCategory",
          "in" : "query",
          "description" : "This parameter represents the Feature Category for which the features need to be retrieved. Feature Category can be Listing or Property",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/FeatureArray"
            }
          }
        }
      }
    },
    "/codevalues/propertystyles" : {
      "get" : {
        "tags" : [ "CodeValues" ],
        "summary" : "CodeValues_SearchPropertyStyles",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#GPS').toggle();\" />\r\n  <div id=\"GPS\">\r\n    <ul>\r\n      <li>This method will be used to retrieve the Property Styles for a supplied Property Subtype</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CodeValues_SearchPropertyStyles",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "brand",
          "in" : "query",
          "description" : "This parameter represents the Brand Code",
          "required" : true,
          "type" : "string",
          "enum" : [ "BHG", "C21", "CB", "CBC", "ERA", "SIR", "ZAP", "ZIP" ]
        }, {
          "name" : "propertySubtype",
          "in" : "query",
          "description" : "This parameter represents the Property Sub Type for which the styles need to be retrieved",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CodeValueArray"
            }
          }
        }
      }
    },
    "/consumer/listings/commercialleases/{listingGuid}" : {
      "get" : {
        "tags" : [ "CommercialLeaseListings" ],
        "summary" : "CommercialLeaseListings_GetConsumer",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#CLGETC').toggle();\" />\r\n  <div id=\"CLGETC\">\r\n    <ul>\r\n      <li>This method is to get the Commercial Lease Listing details by passing ListingGUID</li>\r\n      <li>This method will be called after a delta call to get details on the updated listings or after adding a new listing.</li>\r\n      <li>This action will return only Available listings.</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>If a Commercial Lease Listing does not exists in our system for the Listing GUID provided, the method will return �HTTP 404 - Not Found� error</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CommercialLeaseListings_GetConsumer",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "listingGuid",
          "in" : "path",
          "description" : "Format - uuid. This parameter represents the Listing GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CommercialLeaseListingConsumer"
            }
          }
        }
      }
    },
    "/consumer/listings/commercialsales/{listingGuid}" : {
      "get" : {
        "tags" : [ "CommercialSaleListings" ],
        "summary" : "CommercialSaleListings_GetConsumer",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#CSLGETC').toggle();\" />\r\n  <div id=\"CSLGETC\">\r\n    <ul>\r\n      <li>This method is to get the Commercial Sale Listing details by passing ListingGUID</li>\r\n      <li>This will be primarily called as a result of a delta call or after adding a new Listing</li>\r\n      <li>This action will return only active/pending listings</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>If a Commercial Sale Listing does not exists in our system for the Listing GUID provided, the method will return �HTTP 404 - Not Found� error</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CommercialSaleListings_GetConsumer",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "listingGuid",
          "in" : "path",
          "description" : "Format - uuid. This parameter represents the Listing GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CommercialSaleListingConsumer"
            }
          }
        }
      }
    },
    "/listings/commercialsales/{id}" : {
      "get" : {
        "tags" : [ "CommercialSaleListings" ],
        "summary" : "CommercialSaleListings_Get",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#CSLGET').toggle();\" />\r\n  <div id=\"CSLGET\">\r\n    <ul>\r\n      <li>This method is to get the Commercial Sale Listing details by passing Listing GUID or ProviderIdentifier</li>\r\n      <li>This will be primarily called as a result of a delta call or after adding a new Listing</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>The parameter - idType is mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id should be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>If a Commercial Sale Listing does not exists in our system for the Listing GUID provided, the method will return �HTTP 404 - Not Found� error</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CommercialSaleListings_Get",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the Listing. It can be either Listing GUID or Listing ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Listing GUID is provided as the identifier. \r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CommercialSaleListing"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "CommercialSaleListings" ],
        "summary" : "CommercialSaleListings_Put",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#CSLPUT').toggle();\" />\r\n  <div id=\"CSLPUT\">\r\n    <ul>\r\n      <li>This method will be used to update an existing Commercial Sale listing by using Listing GUID or ProviderIdentifier</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Mandatory Fields:</u>\r\n      </b>\r\n      <ul>\r\n        <li>Parameter - id (Listing GUID or ProviderIdentifier)</li>\r\n        <li>Property</li>\r\n        <ul>\r\n          <li>Location (Address of the property)</li>\r\n          <li>TypeCode or TypeDescription (type of the property)</li>\r\n          <li>PropertyName(only if brand is SIR)</li>\r\n        </ul>\r\n        <li>Listing</li>\r\n        <ul>\r\n          <li>Office</li>\r\n          <li>PrimaryMLS(only for domestic master franchises)</li>\r\n          <li>PrimaryAgent or Team</li>\r\n        </ul>\r\n        <li>ListPrice</li>\r\n        <li>Currency (Code or Name)</li>\r\n      </ul>\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All Mandatory fields must be supplied while adding/updating a Listing</li>\r\n        <li>The parameter - idType is mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id must be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>If a Commercial Sale Listing does not exists in our system for the Listing GUID provided, the method will return �HTTP 404 - Not Found� error</li>\r\n        <li>If YearRenovated is supplied, it must not be in the future and must not be before YearBuilt</li>\r\n        <li>Listing Office supplied must exist with an open/executed status</li>\r\n        <li>Agent supplied for the listing must exist</li>\r\n        <li>Team supplied for the listing must exist</li>\r\n        <li>Listing Remarks of type - Property Description in English is mandatory</li>\r\n        <li>Listing Remarks must only be with 1 Language/Remark Type combination </li>\r\n        <li>OpenHouse StartOn Date/Time must not be after the EndOn Date/Time</li>\r\n        <li>OpenHouse StartOn Date/Time and EndOn Date/Time is mandatory</li>\r\n        <li>OpenHouse Remarks must not have multiple records for the same language</li>\r\n        <li>Listing website(URL) cannot be duplicated for the same language and type</li>\r\n        <li>There must not be multiple Media Captions with the same language for each media item</li>\r\n        <li>Property type should not be Residential</li>\r\n        <li>If ExpiresOn date is supplied then it should be greater than ListedDate</li>\r\n        <li>If ClosedOn date is supplied then it should be greater than ListedDate and must not be in the future</li>\r\n        <li>ContractOn should be greater than ListedDate</li>\r\n        <li>Listing features must not have multiple records with same feature</li>\r\n        <li>LastSoldOn must not be in the future</li>\r\n        <li>Listing once closed cannot be revoked</li>\r\n        <li>ListPriceInUSD is a read-only field and is always auto-calculated based on ListPrice</li>\r\n        <li>The valid Listing Statuses that can be supplied are:</li>\r\n        <ul>\r\n          <li>Pre-Listing</li>\r\n          <li>Active</li>\r\n          <li>Expired</li>\r\n          <li>Withdrawn</li>\r\n          <li>Pending (only for Transaction NOT Enabled offices)</li>\r\n          <li>Closed (only for Transaction NOT Enabled offices)</li>\r\n        </ul>\r\n        <li>\r\n                While adding a listing, either the Status or equivalent dates or combination of Status and Dates can be supplied. <br />\r\n                If only Status is supplied, the dates will be defaulted/protected (if exists in our system). Dates defaulted (defaulted to current date) for each status is:\r\n                <ul><li>Pre-Listing</li><ul><li>ListedDated</li></ul><li>Active</li><ul><li>ListedDate</li></ul><li>Expired</li><ul><li>ListedDate</li><li>ExpiresOn</li></ul><li>Withdrawn</li><ul><li>ListedDate</li><li>WithdrawnOn</li></ul><li>Pending</li><ul><li>ListedDate</li><li>ContractOn</li><li>EstimatedClosedOn (will be current date + 90 days)</li></ul><li>Closed</li><ul><li>ListedDate</li><li>ContractOn</li><li>EstimatedClosedOn (will be current date + 90 days)</li><li>ClosedDate</li></ul></ul></li>\r\n        <li>If only dates are supplied, then the status will be derived based on the dates.</li>\r\n        <ul>\r\n          <li>ListedDate</li>\r\n          <ul>\r\n            <li>Active (If listed date is in the past)</li>\r\n            <li>Pre-Listing (If listed date is in the future)</li>\r\n          </ul>\r\n          <li>ExpiresOn (along with ListedDate)</li>\r\n          <ul>\r\n            <li>Active (If ExpiresOn is in the future)</li>\r\n            <li>Expired (If ExpiresOn is in the past)</li>\r\n          </ul>\r\n          <li>WithdrawnOn (along with ListedDate)</li>\r\n          <ul>\r\n            <li>Withdrawn</li>\r\n          </ul>\r\n          <li>ContractOn (along with ListedDate)</li>\r\n          <ul>\r\n            <li>Pending</li>\r\n          </ul>\r\n          <li>ClosedOn (along with ListedDate, ContractOn)</li>\r\n          <ul>\r\n            <li>Closed</li>\r\n          </ul>\r\n        </ul>\r\n        <li>If both status and dates are supplied, then the status and dates will be validated as below.</li>\r\n        <ul>\r\n          <li>Pre-Listing - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in future)</li>\r\n          </ul>\r\n          <li>Active - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in Past)</li>\r\n          </ul>\r\n          <li>Expired - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in Past)</li>\r\n            <li>ExpiresOn (in Past)</li>\r\n          </ul>\r\n          <li>Withdrawn - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in Past)</li>\r\n            <li>WithdrawnOn (in Past)</li>\r\n          </ul>\r\n          <li>Pending - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in Past)</li>\r\n            <li>ContractOn</li>\r\n          </ul>\r\n          <li>Closed - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in Past)</li>\r\n            <li>ContractOn</li>\r\n            <li>ClosedDate</li>\r\n          </ul>\r\n        </ul>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CommercialSaleListings_Put",
        "consumes" : [ "application/vnd.realogyfg.v1+json" ],
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the Listing. It can be either Listing GUID or Listing ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Listing GUID is provided as the identifier. \r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "commercialSaleListing",
          "description" : "This parameter represents the Commercial Sale Listing Details",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CommercialSaleListing"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/listings/commercialsales" : {
      "post" : {
        "tags" : [ "CommercialSaleListings" ],
        "summary" : "CommercialSaleListings_Post",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#CSLPOST').toggle();\" />\r\n  <div id=\"CSLPOST\">\r\n    <br />\r\n    <ul>\r\n      <li>This method will be used to add a new Commercial Sale listing to the system.</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <b>\r\n        <u>Mandatory Fields:</u>\r\n      </b>\r\n      <ul>\r\n        <li>Property</li>\r\n        <ul>\r\n          <li>Location (Address of the property)</li>\r\n          <li>TypeCode or TypeDescription (type of the property)</li>\r\n          <li>PropertyName(only if brand is SIR)</li>\r\n        </ul>\r\n        <li>Listing</li>\r\n        <ul>\r\n          <li>Office (Office GUID OR ProviderIdentifier (can be provided only by the office provider) OR Company ID &amp; Office ID)</li>\r\n          <li>ProviderIdentifier</li>\r\n          <li>PrimaryMLS(only for domestic master franchises)</li>\r\n          <li>PrimaryAgent or Team</li>\r\n        </ul>\r\n        <li>ListPrice</li>\r\n        <li>Currency (Code or Name)</li>\r\n      </ul>\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All the Mandatory fields must be supplied while adding/updating a Listing</li>\r\n        <li>If YearRenovated is supplied, it must not be in the future and must not be before YearBuilt</li>\r\n        <li>Listing Office supplied must exist with an open/executed status</li>\r\n        <li>Agent supplied for the listing must exist</li>\r\n        <li>Team supplied for the listing must exist</li>\r\n        <li>Listing Remarks of type - Property Description in English is mandatory</li>\r\n        <li>Listing Remarks must only be with 1 Language/Remark Type combination </li>\r\n        <li>OpenHouse StartOn Date/Time must not be after the EndOn Date/Time</li>\r\n        <li>OpenHouse StartOn Date/Time and EndOn Date/Time is mandatory</li>\r\n        <li>OpenHouse Remarks must not have multiple records for the same language</li>\r\n        <li>Listing website(URL) cannot be duplicated for the same language and type</li>\r\n        <li>There must not be multiple Media Captions with the same language for each media item</li>\r\n        <li>Property type should not be Residential</li>\r\n        <li>If ExpiresOn date is supplied then it should be greater than ListedDate</li>\r\n        <li>If ClosedOn date is supplied then it should be greater than ListedDate and must not be in the future</li>\r\n        <li>ContractOn should be greater than ListedDate</li>\r\n        <li>Listing features must not have multiple records with same feature</li>\r\n        <li>LastSoldOn must not be in the future</li>\r\n        <li>ListPriceInUSD is a read-only field and is always auto-calculated based on ListPrice</li>\r\n        <li>The valid Listing Statuses that can be supplied are:</li>\r\n        <ul>\r\n          <li>Pre-Listing</li>\r\n          <li>Active</li>\r\n          <li>Pending (only for Transaction NOT Enabled offices)</li>\r\n          <li>Closed (only for Transaction NOT Enabled offices)</li>\r\n        </ul>\r\n        <li>\r\n                While adding a listing, either the Status or equivalent dates or combination of Status and Dates can be supplied. <br />\r\n                If only Status is supplied, the dates will be defaulted. Dates defaulted (defaulted to current date) for each status is:\r\n                <ul><li>Pre-Listing</li><ul><li>ListedDate (will be current date + (X) days)</li></ul><li>Active</li><ul><li>ListedDate</li></ul><li>Pending</li><ul><li>ListedDate</li><li>ContractOn</li><li>EstimatedClosedOn (will be current date + 90 days)</li></ul><li>Closed</li><ul><li>ListedDate</li><li>ContractOn</li><li>EstimatedClosedOn (will be current date + 90 days)</li><li>ClosedDate</li></ul></ul></li>\r\n        <li>If only dates are supplied, then the status will be derived based on the dates.</li>\r\n        <ul>\r\n          <li>ListedDate</li>\r\n          <ul>\r\n            <li>Active (If listed date is in the past)</li>\r\n            <li>Pre-Listing (If listed date is in the future)</li>\r\n          </ul>\r\n          <li>ExpiresOn (along with ListedDate)</li>\r\n          <ul>\r\n            <li>Active (If ExpiresOn is in the future)</li>\r\n            <li>Expired (If ExpiresOn is in the past)</li>\r\n          </ul>\r\n          <li>ContractOn (along with ListedDate)</li>\r\n          <ul>\r\n            <li>Pending</li>\r\n          </ul>\r\n          <li>ClosedOn (along with ListedDate, ContractOn)</li>\r\n          <ul>\r\n            <li>Closed</li>\r\n          </ul>\r\n        </ul>\r\n        <li>If both status and dates are supplied, then the status and dates will be validated as below.</li>\r\n        <ul>\r\n          <li>Pre-Listing - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in future)</li>\r\n          </ul>\r\n          <li>Active - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in Past)</li>\r\n          </ul>\r\n          <li>Pending - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in Past)</li>\r\n            <li>ContractOn</li>\r\n          </ul>\r\n          <li>Closed - Only Dates that must be supplied are:</li>\r\n          <ul>\r\n            <li>ListedDate (in Past)</li>\r\n            <li>ContractOn</li>\r\n            <li>ClosedDate</li>\r\n          </ul>\r\n        </ul>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CommercialSaleListings_Post",
        "consumes" : [ "application/vnd.realogyfg.v1+json" ],
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "commercialSaleListing",
          "description" : "This parameter represents the Commercial Sale Listing Details",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CommercialSaleListing"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created"
          }
        }
      }
    },
    "/companies/{id}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Companies_Get",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#CGET').toggle();\" />\r\n  <div id=\"CGET\">\r\n    <ul>\r\n      <li>This method is to get the Company details by passing Company GUID or RFG Company ID.</li>\r\n      <li>This will be primarily called as a result of a delta call.</li>\r\n      <li>The method will return only Active Companies</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>The parameter - idType is mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id should be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>If the idType supplied is 'rfgid', then the supplied id should be a numeric identifier</li>\r\n        <li>If Company GUID/RFG Company ID does not exist in our system, API will return �HTTP 404 - Not Found� status code.</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Companies_Get",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the company. It can be either Company GUID or RFG Company ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. This can be either \"id\" or \"rfgid\"\r\nThe value should be set to \"id\" if Company GUID is provided as the identifier. \r\nIf the identifier provided is RFG Company ID, the idType should be \"rfgid\"",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Company"
            }
          }
        }
      }
    },
    "/companies/delta" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Companies_Delta",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#CDELTA').toggle();\" />\r\n  <div id=\"CDELTA\">\r\n    <ul>\r\n      <li>This method will be used to get the list of Companies which got updated over the specified period of time. This method will return list of Company GUIDs (if available) which are created or modified between fromDate and toDate.</li>\r\n      <li>The results can be filtered by brand or list of RFG Company IDs</li>\r\n      <li>The Date-Time format supported is standard date-time format (yyyy-MM-ddThh:mm:ss[.fffffff]). Example: 2015-02-13T06:40:48.937</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>FromDate is mandatory</li>\r\n        <li>If toDate is not supplied, system will take current system date</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Companies_Delta",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "fromDate",
          "in" : "query",
          "description" : "Format - date-time (as date-time in RFC3339). This parameter represents the Date from which the delta operation needs to be performed. <br />\r\nDataType: DateTime with offset (Standard formats allowed are - yyyy-MM-ddThh:mm:ss[.fffffff] zzz. Any DateTime without offset will be considered as Eastern Time)<br />\r\nExample: 2015-02-13T06:40:48.937-04:00",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "Format - date-time (as date-time in RFC3339). This parameter represents the Date to which the delta operation needs to be performed. <br />\r\nDataType: DateTime with offset (Standard formats allowed are - yyyy-MM-ddThh:mm:ss[.fffffff] zzz. Any DateTime without offset will be considered as Eastern Time)<br />\r\nExample: 2015-02-13T06:40:48.937-04:00",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "brandCode",
          "in" : "query",
          "description" : "This parameter represents the Brand Code",
          "required" : false,
          "type" : "string",
          "enum" : [ "BHG", "C21", "CB", "CBC", "ERA", "SIR", "ZAP", "ZIP" ]
        }, {
          "name" : "companyIds",
          "in" : "query",
          "description" : "This parameter represents the List of RFG Company IDs to be used for filtering the delta search results",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isLastUpdatedBy",
          "in" : "query",
          "description" : "If isLastUpdatedBy is true then Companies are displayed which are not updated by current user. If isLastUpdatedBy is false then all the Companies are displayed",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/EntityDeltaArray"
            }
          }
        }
      }
    },
    "/consumer/companystaff/{companyStaffGuid}" : {
      "get" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_GetConsumer",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#SGETC').toggle();\" />\r\n  <div id=\"SGETC\">\r\n    <ul>\r\n      <li>This method is to get the Staff details by passing CompanyStaffGUID</li>\r\n      <li>This will be primarily called as a result of a delta call or after adding a new Staff</li>\r\n      <li>This action will return only active staffs</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>If Staff GUID does not exists in our system, API will return �HTTP 404 - Not Found� status code.</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_GetConsumer",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "companyStaffGuid",
          "in" : "path",
          "description" : "Format - uuid. This parameter represents the Company Staff GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CompanyStaffConsumer"
            }
          }
        }
      }
    },
    "/companystaff/{id}" : {
      "get" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_Get",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#SGET').toggle();\" />\r\n  <div id=\"SGET\">\r\n    <ul>\r\n      <li>This method is to get the Staff details by passing CompanyStaff GUID or ProviderIdentifier</li>\r\n      <li>This will be primarily called as a result of a delta call or after adding a new Staff</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>The parameter - idType is mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id should be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>If Staff GUID or ProviderIdentifier does not exists in our system, API will return �HTTP 404 - Not Found� status code.</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_Get",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the company staff. It can be either Company Staff GUID or Company Staff ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Company Staff GUID is provided as the identifier. \r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CompanyStaff"
            }
          }
        }
      }
    },
    "/companystaff" : {
      "post" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_Post",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#AddCS').toggle();\" />\r\n  <div id=\"AddCS\">\r\n    <br />\r\n    <ul>\r\n      <li>This method will be used to add a new staff (person) to the system.</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <b>\r\n        <u>Mandatory Fields:</u>\r\n      </b>\r\n      <ul>\r\n        <li>FirstName</li>\r\n        <li>LastName</li>\r\n        <li>PrimaryEmailAddress</li>\r\n        <li>Company (Company GUID OR ProviderIdentifier (can be provided only by the office provider) OR Company ID)</li>\r\n        <li>PrimaryOffice Office GUID OR ProviderIdentifier (can be provided only by the office provider) OR Company ID &amp; Office ID)</li>\r\n        <li>ProviderIdentifier</li>\r\n        <li>Roles</li>\r\n        <li>IsActive</li>\r\n      </ul>\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All the Mandatory fields must be supplied while adding/updating a staff</li>\r\n        <li>The ProviderIdentifier provided must not be already associated with another Staff</li>\r\n        <li>A Staff must be associated with an Active Company</li>\r\n        <li>\r\n                For Staff Roles,\r\n                <ul><li>Active Since Date must not be future date</li><li>DeActivation Date must not be less that the ActiveSince Date</li></ul></li>\r\n        <li>A person must have at least one role while adding a new person</li>\r\n        <li>A person can be associated with same or different sales roles for offices (one per office) at the same time.</li>\r\n        <li>A person can have one or more than one non-sales roles across offices (or in an office) or at company level at the same time, as long as the role type is not duplicated in an office and is not deactivated.</li>\r\n        <li>Active Staff Roles can be added to only Open/Executed Offices</li>\r\n        <li>For US &amp; Canada Master Franchisors, Owner and Responsible Broker roles cannot be assigned to any staffs as these roles are considered as contractual information</li>\r\n        <li>If there are any producing roles for the Staff, the PrimaryOffice must be the Office in which the staff has a producing role</li>\r\n        <li>If there are no producing roles for the Staff, the PrimaryOffice can be any of the Office in which the staff has any active role</li>\r\n        <li>If a person is associated with an active guest role, no other role can be selected for that person </li>\r\n        <li>A Person can either have �Guest Non-Sales� or �Guest Sales� role, but not both roles at any point in time</li>\r\n        <li>When adding person with a Guest Role, system defaults the de-active date = (current Date) + (X) no of days, based on the configuration for each brand. The de-active date added by the system is not editable or cannot be deleted</li>\r\n        <li>If FamiliarName is not provided for the person, then the value will be set to FirstName by default</li>\r\n        <li>If DisplayName is not provided for the person, then the value will be set to FirstName + LastName + NameSuffix by default</li>\r\n        <li>If StartedInBrand is supplied, the value must not be in future</li>\r\n        <li>If StartedInRealEstateOn is supplied, the value must not be in future</li>\r\n        <li>If DateOfBirth is supplied, the value must not be in future</li>\r\n        <li>If Additional Person Names are supplied, then there must only be one record per language</li>\r\n        <li>There must not be multiple Media Captions with the same language for each media item</li>\r\n        <li>Additional EmailAddresses are allowed only one per email type</li>\r\n        <li>For the same Website type, there must not be multiple web URLs provided with the same content language</li>\r\n        <li>Person Profile must not have multiple records of the same type and language</li>\r\n        <li>The Designations -  \"Fine Homes and Estates Specialist\" (FHE) or \"Commercial Specialist\" (COM) designation or C21 Global Real Estate Network (GREN) will be ignored if provided</li>\r\n        <li>In the list of Designations, the same Designations must not be supplied more than once</li>\r\n        <li>License issuedOn date must not be future date</li>\r\n        <li>License expires On date must not be before issued on date</li>\r\n        <li>In the list of Spoken Languages, the same language must not be supplied more than once</li>\r\n        <li>In the list of Designations, the same Designations must not be supplied more than once</li>\r\n        <li>In the list of Area of Specializations, the same Area of Specialization must not be supplied more than once</li>\r\n        <li>If Staff DeactivationDate is supplied, the value must not be less than staff active since date</li>\r\n        <li>Designations Deactivation date must be less than Active date</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_Post",
        "consumes" : [ "application/vnd.realogyfg.v1+json" ],
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "companyStaff",
          "description" : "This parameter represents the Company Staff details",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CompanyStaff"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created"
          }
        }
      }
    },
    "/companyStaff/{id}" : {
      "put" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_Put",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#UpdCS').toggle();\" />\r\n  <div id=\"UpdCS\" class=\"businessRule\">\r\n    <br />\r\n    <ul>\r\n      <li>This method will be used to update an existing staff by using Staff GUID or ProviderIdentifier</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <b>\r\n        <u>Mandatory Fields:</u>\r\n      </b>\r\n      <ul>\r\n        <li>Parameter - id (CompanyStaff GUID or ProviderIdentifier)</li>\r\n        <li>FirstName</li>\r\n        <li>LastName</li>\r\n        <li>PrimaryEmailAddress</li>\r\n        <li>Company (Company GUID OR ProviderIdentifier (can be provided only by the office provider) OR Company ID)</li>\r\n        <li>PrimaryOffice Office GUID OR ProviderIdentifier (can be provided only by the office provider) OR Company ID &amp; Office ID)</li>\r\n        <li>Roles</li>\r\n        <li>IsActive</li>\r\n      </ul>\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All the Mandatory fields must be supplied while adding/updating a staff</li>\r\n        <li>The parameter - idType is mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id must be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>The Staff GUID or ProviderIdentifier provided must exist in the system</li>\r\n        <li>Deactivated Persons cannot be updated unless the update is to re-activate the person</li>\r\n        <li>The Staff must be associated with an Active Company</li>\r\n        <li>\r\n                For Staff Roles,\r\n                <ul><li>Active Since Date must not be future date</li><li>DeActivation Date must not be less that the ActiveSince Date</li></ul></li>\r\n        <li>A person must have at least one role while adding a new person</li>\r\n        <li>A person can be associated with same or different sales roles for offices (one per office) at the same time.</li>\r\n        <li>A person can have one or more than one non-sales roles across offices (or in an office) or at company level at the same time as long as roles type is not duplicated in an office and is not deactivated.</li>\r\n        <li>Active Staff Roles can be added to only Open/Executed Offices</li>\r\n        <li>For US &amp; Canada Master Franchisors, Owner and Responsible Broker roles cannot be assigned to any staffs as these roles are considered as contractual information</li>\r\n        <li>For US &amp; Canada MasterFranchisors, Contractual information cannot be updated for Owner and Responsible broker. Contractual information includes - Role Title, Active Since Date, Deactivation Date, First Name, Last Name, Display Name, Familiar Name</li>\r\n        <li>If there are any producing roles for the Staff, the PrimaryOffice must be the Office in which the staff has a producing role</li>\r\n        <li>If there are no producing roles for the Staff, the PrimaryOffice can be any of the Office in which the staff has any active role</li>\r\n        <li>If a person is associated with an active guest role, no other role can be selected for that person</li>\r\n        <li>A Person can either have �Guest Non-Sales� or �Guest Sales� role but not both roles at any point in time</li>\r\n        <li>When adding person with a Guest Role, system defaults the de-active date = (current Date) + (X) no of days, based on the configuration for each brand. The de-active date added by the system is not editable or cannot be deleted</li>\r\n        <li>If FamiliarName is not provided for the person, then the value will be set to FirstName by default</li>\r\n        <li>If DisplayName is not provided for the person, then the value will be set to FirstName + LastName + NameSuffix by default</li>\r\n        <li>If StartedInBrand is supplied, the value must not be in future</li>\r\n        <li>If StartedInRealEstateOn is supplied, the value must not be in future</li>\r\n        <li>If DateOfBirth is supplied, the value must not be in future</li>\r\n        <li>If Additional Person Names are supplied, then there must only be one record per language</li>\r\n        <li>There must not be multiple Media Captions with the same language for each media item</li>\r\n        <li>Additional EmailAddresses are allowed only one per email type</li>\r\n        <li>For the same Website type, there must not be multiple web URLs provided with the same content language</li>\r\n        <li>Person Profile must not have multiple records of the same type and language</li>\r\n        <li>The Designations -  \"Fine Homes and Estates Specialist\" (FHE) or \"Commercial Specialist\" (COM) designation or C21 Global Real Estate Network (GREN) will be ignored if provided</li>\r\n        <li>In the list of Designations, the same Designations must not be supplied more than once</li>\r\n        <li>License issuedOn date must not be future date</li>\r\n        <li>License expires On date must not be before issued on date</li>\r\n        <li>In the list of Spoken Languages, the same language must not be supplied more than once</li>\r\n        <li>In the list of Designations, the same Designations must not be supplied more than once</li>\r\n        <li>In the list of Area of Specializations, the same Area of Specialization must not be supplied more than once</li>\r\n        <li>If Staff DeactivationDate is supplied, the value must not be less than staff active since date</li>\r\n        <li>Designations Deactivation date must be less than Active date</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_Put",
        "consumes" : [ "application/vnd.realogyfg.v1+json" ],
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the company staff. It can be either Company Staff GUID or Company Staff ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Company Staff GUID is provided as the identifier. \r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "companyStaff",
          "description" : "This parameter represents the Company Staff details",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CompanyStaff"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/companystaff/delta" : {
      "get" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_Delta",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#SDELTA').toggle();\" />\r\n  <div id=\"SDELTA\">\r\n    <ul>\r\n      <li>This method will be used to get the list of Company Staff that were updated (created or modified) over the specified period of time (fromDate and toDate).</li>\r\n      <li>The results can be filtered by brand or list of RFG Company IDs</li>\r\n      <li>The DateTime format supported is standard date-time format (yyyy-MM-ddThh:mm:ss[.fffffff]). Example: 2015-02-13T06:40:48.937</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>FromDate is mandatory</li>\r\n        <li>If toDate is not supplied, system will take today's date</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_Delta",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "fromDate",
          "in" : "query",
          "description" : "Format - date-time (as date-time in RFC3339). This parameter represents the Date from which the delta operation needs to be performed. <br />\r\nDataType: DateTime with offset (Standard formats allowed are - yyyy-MM-ddThh:mm:ss[.fffffff] zzz. Any DateTime without offset will be considered as Eastern Time)<br />\r\nExample: 2015-02-13T06:40:48.937-04:00",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "Format - date-time (as date-time in RFC3339). This parameter represents the Date to which the delta operation needs to be performed. <br />\r\nDataType: DateTime with offset (Standard formats allowed are - yyyy-MM-ddThh:mm:ss[.fffffff] zzz. Any DateTime without offset will be considered as Eastern Time)<br />\r\nExample: 2015-02-13T06:40:48.937-04:00",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "brandCode",
          "in" : "query",
          "description" : "This parameter represents the Brand Code",
          "required" : false,
          "type" : "string",
          "enum" : [ "BHG", "C21", "CB", "CBC", "ERA", "SIR", "ZAP", "ZIP" ]
        }, {
          "name" : "companyIds",
          "in" : "query",
          "description" : "This parameter represents the List of RFG Company IDs to be used for filtering the delta search results",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isLastUpdatedBy",
          "in" : "query",
          "description" : "If isLastUpdatedBy is true then CompanyStaff are displayed which are not updated by current user. If isLastUpdatedBy is false then all the CompanyStaff are displayed",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/EntityDeltaArray"
            }
          }
        }
      }
    },
    "/companystaff/agents" : {
      "get" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_SearchAgent",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#SS').toggle();\" />\r\n  <div id=\"SS\">\r\n    <ul>\r\n      <li>This method will be used to search all the company agents</li>\r\n      <li>The search is primarily brand and office GUID based search (with firstName, lastName, location and company GUID as additional filters)</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>The Search will be an agent search and will return only agents</li>\r\n        <li>The Search will be an AND based search</li>\r\n        <li>For Parameters - FirstName and LastName, the method performs a �Starts With� search</li>\r\n        <li>The Office GUID, if provided, must be an Open/Executed Office. Results will not be returned if the Office GUID does not belong to an Open/Executed Office</li>\r\n        <li>The Company GUID, if provided, must be an Active Company. Results will not be returned if the Company GUID is a De-Active Company</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_SearchAgent",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "brand",
          "in" : "query",
          "description" : "This parameter represents the Brand Code",
          "required" : true,
          "type" : "string",
          "enum" : [ "BHG", "C21", "CB", "CBC", "ERA", "SIR", "ZAP", "ZIP" ]
        }, {
          "name" : "firstName",
          "in" : "query",
          "description" : "This parameter represents the First Name of the Company staff",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastName",
          "in" : "query",
          "description" : "This parameter represents the Last Name of the Company staff",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "This parameter represents the Country Name/Code of the Company staff's location",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stateProvince",
          "in" : "query",
          "description" : "This parameter represents the State Province Code/Name of the Company staff's location",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "This parameter represents the City Name of the Company staff's location",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "officeGuid",
          "in" : "query",
          "description" : "Format - uuid. This parameter represents the Office GUID of the Company staff and Office GUID is mandatory field. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyGuid",
          "in" : "query",
          "description" : "Format - uuid. This parameter represents the Company GUID of the Company staff. This will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CompanyStaffSearchResultArray"
            }
          }
        }
      }
    },
    "/companystaff/{companyStaffGuid}/designation" : {
      "patch" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_PatchDesignation",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#SPUTD').toggle();\" />\r\n  <div id=\"SPUTD\">\r\n    <ul>\r\n      <li>This method adds/updates designation or qualification of an agent</li>\r\n      <li>An agent can be awarded with 'Fine Homes and Estates Specialist' (FHE) or 'Commercial Specialist' (COM) or 'C21 Global Real Estate Network' (GREN) or 'Property Specialist' designations</li>\r\n      <li>The ActiveSince Date and the Deactivation Date provided will overwrite the existing data (if present)</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Mandatory Fields:</u>\r\n      </b>\r\n      <ul>\r\n        <li>companyStaffGuid</li>\r\n        <li>designation</li>\r\n      </ul>\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All Mandatory Fields must be supplied</li>\r\n        <li>The CompanyStaffGUID supplied must exist in the system</li>\r\n        <li>The ActiveSince Date for the designation must not be in the future</li>\r\n        <li>The DeactivatedOn Date for the designation must not be before the ActiveSince date</li>\r\n        <li>The only accepted designations are: 'Fine Homes and Estates Specialist' ('39'), 'Commercial Specialist' ('33'), 'C21 Global Real Estate Network' ('115') and 'Property Specialist' ('988'). Any other designations will be rejected</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_PatchDesignation",
        "consumes" : [ "application/vnd.realogyfg.v1+json" ],
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "companyStaffGuid",
          "in" : "path",
          "description" : "Format - uuid. This parameter represents the Company Staff GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "entityDesignation",
          "description" : "This parameter represents the Designation of the person",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EntityDesignation"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/companystaff/{id}/profiles" : {
      "patch" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_PatchProfiles",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#SPUTP').toggle();\" />\r\n  <div id=\"SPUTP\">\r\n    <ul>\r\n      <li>This method adds/updates profile information for a staff by providing the CompanyStaff GUID or ProviderIdentifier</li>\r\n      <li>This method will add/update (overwrite if the profile already exists) profile information for a staff based on ProfileCategory and Language provided in the request</li>\r\n      <li>This method will update profile only if the profile was supplied by the provider. Otherwise it will be added as a new profile</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>The parameter - idType is mandatory</li>\r\n        <li>The parameter - profiles is mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id should be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>All Mandatory Fields must be supplied</li>\r\n        <li>The CompanyStaffGUID (if idType is 'id') or the Company Staff ProviderIdentifier (if idType is \"providerid\") supplied must exist in the system and should be the guid corresponding to an active Staff</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_PatchProfiles",
        "consumes" : [ "application/vnd.realogyfg.v1+json" ],
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the company staff. It can be either Company Staff GUID or Company Staff ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Company Staff GUID is provided as the identifier. \r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "entityProfileArray",
          "description" : "This parameter represents the Collection of Profiles",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EntityProfileArray"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/companystaff/byoffice" : {
      "get" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_SearchByOffice",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#SBO').toggle();\" />\r\n  <div id=\"SBO\">\r\n    <ul>\r\n      <li>This method will be used to get the summary of all active Staff for the specified Office GUID</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>Only Open or Executed Office�s active staff will be returned</li>\r\n        <li>If office GUID does not exists in our system, API will return �HTTP 404 - Not Found� status code.</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_SearchByOffice",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "officeGuid",
          "in" : "query",
          "description" : "Format - uuid. This parameter represents the Office GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CompanyStaffBasicInfoArray"
            }
          }
        }
      }
    },
    "/companystaff/bycompany" : {
      "get" : {
        "tags" : [ "CompanyStaff" ],
        "summary" : "CompanyStaff_SearchByCompany",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#SBC').toggle();\" />\r\n  <div id=\"SBC\">\r\n    <ul>\r\n      <li>This method will be used to get the summary of all active Staff for the specified Company GUID</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>Only active company�s active staff will be returned</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "CompanyStaff_SearchByCompany",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "companyGuid",
          "in" : "query",
          "description" : "Format - uuid. This parameter represents the Company GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CompanyStaffBasicInfoArray"
            }
          }
        }
      }
    },
    "/listings/bycompany" : {
      "get" : {
        "tags" : [ "Listings" ],
        "summary" : "Listings_SearchByCompany",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#GLBC').toggle();\" />\r\n  <div id=\"GLBC\">\r\n    <ul>\r\n      <li>This method will be used to get the summary of all Active/Pending listings for CommercialSale &amp; ResidentialSale and Available listings for Commercial Lease &amp; Residential Rental for the specified Company GUID</li>\r\n      <li>This method will be primarily used to sync all the listings for a company</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>Only Active company�s listings will be returned</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Listings_SearchByCompany",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "companyGuid",
          "in" : "query",
          "description" : "Format - uuid. This parameter represents the Company GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ListingSummaryArray"
            }
          }
        }
      }
    },
    "/listings/byoffice" : {
      "get" : {
        "tags" : [ "Listings" ],
        "summary" : "Listings_SearchByOffice",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#GLBO').toggle();\" />\r\n  <div id=\"GLBO\">\r\n    <ul>\r\n      <li>This method will be used to get the summary of all Active/Pending listings for CommercialSale &amp; ResidentialSale and Available listings for Commercial Lease &amp; Residential Rental for the specified Office GUID</li>\r\n      <li>This method will be primarily used to sync all the listings for an office</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>Only Open or Executed Office�s listings will be returned</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Listings_SearchByOffice",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "officeGuid",
          "in" : "query",
          "description" : "Format - uuid. This parameter represents the Office GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ListingSummaryArray"
            }
          }
        }
      }
    },
    "/listings/byteam" : {
      "get" : {
        "tags" : [ "Listings" ],
        "summary" : "Listings_SearchByTeam",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#GLBT').toggle();\" />\r\n  <div id=\"GLBT\">\r\n    <ul>\r\n      <li>This method will be used to get the summary of on-marketed listings for CommercialSale, ResidentialSale, Commercial Lease &amp; Residential Rental for the specified Team GUID</li>\r\n      <li>This method will be primarily used to sync all the listings for team</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>Active team and team members listings will be returned</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Listings_SearchByTeam",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "teamGuid",
          "in" : "query",
          "description" : "Format - uuid. This parameter represents the Team GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ListingSummaryArray"
            }
          }
        }
      }
    },
    "/listings/byagent" : {
      "get" : {
        "tags" : [ "Listings" ],
        "summary" : "Listings_SearchByAgent",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#GLBA').toggle();\" />\r\n  <div id=\"GLBA\">\r\n    <ul>\r\n      <li>This method will be used to get the summary of Active/Pending listings for CommercialSale &amp; ResidentialSale and Available listings for Commercial Lease &amp; Residential Rental for the specified Agent GUID or ProviderIdentifier</li>\r\n      <li>This will be primarily used to sync all the listings for an Agent</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>The parameter - idType is mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id should be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>Only Active Company Staff GUID or ProviderIdentifier�s listings will be returned of active Agents</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Listings_SearchByAgent",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "This parameter represents the identifier of the Agent. It can be either Agent GUID or Agent ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Agent GUID is provided as the identifier. \r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ListingSummaryArray"
            }
          }
        }
      }
    },
    "/listings/delta" : {
      "get" : {
        "tags" : [ "Listings" ],
        "summary" : "Listings_Delta",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#RSDELTA').toggle();\" />\r\n  <div id=\"RSDELTA\">\r\n    <ul>\r\n      <li>This method will return list of listing GUIDs (if available) that are created or modified between specified fromDate and toDate.</li>\r\n      <li>The results can be filtered by brand or list of RFG Company IDs or Listing Type Code (The list of available codes can be obtained by calling method - CodeValuesGet (/codevalues), passing categoryName as ListingType)</li>\r\n      <li>The Date-Time format supported is standard date-time format (yyyy-MM-ddThh:mm:ss[.fffffff]). Example: 2015-02-13T06:40:48.937</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>FromDate is mandatory</li>\r\n        <li>If toDate is not supplied, system will take today's date</li>\r\n        <li>The fromDate must not be in Future</li>\r\n        <li>The toDate must not be before fromDate</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Listings_Delta",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "fromDate",
          "in" : "query",
          "description" : "Format - date-time (as date-time in RFC3339). This parameter represents the Date from which the delta operation needs to be performed. <br />\r\nDataType: DateTime with offset (Standard formats allowed are - yyyy-MM-ddThh:mm:ss[.fffffff] zzz. Any DateTime without offset will be considered as Eastern Time)<br />\r\nExample: 2015-02-13T06:40:48.937-04:00",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "Format - date-time (as date-time in RFC3339). This parameter represents the Date to which the delta operation needs to be performed. <br />\r\nDataType: DateTime with offset (Standard formats allowed are - yyyy-MM-ddThh:mm:ss[.fffffff] zzz. Any DateTime without offset will be considered as Eastern Time)<br />\r\nExample: 2015-02-13T06:40:48.937-04:00",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "brandCode",
          "in" : "query",
          "description" : "This parameter represents the Brand Code",
          "required" : false,
          "type" : "string",
          "enum" : [ "BHG", "C21", "CB", "CBC", "ERA", "SIR", "ZAP", "ZIP" ]
        }, {
          "name" : "companyIds",
          "in" : "query",
          "description" : "This parameter represents the List of RFG Company IDs to be used for filtering the delta search results",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "listingType",
          "in" : "query",
          "description" : "This parameter represents the Listing Type code that should be used for filtering the delta search results (eg: Residential Sale, Commercial Sale, Residential Rental, Commercial Lease)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isLastUpdatedBy",
          "in" : "query",
          "description" : "If isLastUpdatedBy is true then Listings are displayed which are not updated by current user. If isLastUpdatedBy is false then all the listings are displayed",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ListingDeltaArray"
            }
          }
        }
      }
    },
    "/listings/{id}/media" : {
      "patch" : {
        "tags" : [ "Listings" ],
        "summary" : "Listings_PatchMedia",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#ALM').toggle();\" />\r\n  <div id=\"ALM\">\r\n    <ul>\r\n      <li>This method will be used to append a media item or a collection of media items to a listing using the Listing GUID or ProviderIdentifier</li>\r\n      <li>If isReplace flag is set to false,</li>\r\n      <ul>\r\n        <li>A new media will be added to the listing if the provided media identifier does not exist</li>\r\n        <li>If the media already exists, the metadata information (like Caption, Description etc.) will be updated and the actual URL or the resized URLs will not be updated</li>\r\n      </ul>\r\n      <li>If isReplace flag is set to true,</li>\r\n      <ul>\r\n        <li>All media items for the listing will be replaced with the supplied media items</li>\r\n        <li>This method will replace only those media items which were supplied by the provider</li>\r\n      </ul>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All the Mandatory fields must be provided</li>\r\n        <li>The parameters - idType, media and isReplace are mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id should be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>There should not be multiple Media Captions with the same language for each media item</li>\r\n        <li>If a Listing does not exists in our system for the Listing GUID provided, the method will return �HTTP 404 - Not Found� error</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Listings_PatchMedia",
        "consumes" : [ "application/vnd.realogyfg.v1+json" ],
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the Listing. It can be either Listing GUID or Listing ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Listing GUID is provided as the identifier. \r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "isReplace",
          "in" : "query",
          "description" : "This parameter represents whether the media provided needs to replace all the existing media or not",
          "required" : true,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "entityMediaArray",
          "description" : "This parameter represents the Collection of Media",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EntityMediaArray"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/listings/{id}/media/{mediaProviderIdentifier}" : {
      "delete" : {
        "tags" : [ "Listings" ],
        "summary" : "Listings_DeleteMedia",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#DM').toggle();\" />\r\n  <div id=\"DM\">\r\n    <ul>\r\n      <li>This method will be used to delete an existing media for a listing by providing the Listing GUID/ProviderIdentifier and Media ProviderIdentifier</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>The parameter - idType and mediaProviderIdentifier is mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id should be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>If Listing does not exists in our system for the Listing GUID/ProviderIdentifier supplied, the method will return �HTTP 404 - Not Found� error</li>\r\n        <li>If Media does not exists in our system for the supplied Media ProviderIdentifier, API will return �HTTP 404 - Not Found� status code.</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Listings_DeleteMedia",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the Listing. It can be either Listing GUID or Listing ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "mediaProviderIdentifier",
          "in" : "path",
          "description" : "This parameter represents the ProviderIdentifier for the media to be deleted",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Listing GUID is provided as the identifier. \r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/listings/{id}/listingisoffmarket" : {
      "patch" : {
        "tags" : [ "Listings" ],
        "summary" : "Listings_PatchListingIsOffMarket",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#PLI').toggle();\" />\r\n  <div id=\"ALM\">\r\n    <ul>\r\n      <li>This method will be used to make IsOffTheMarket flag set to 1 for a Listing by using the Listing GUID or ListingID or ProviderIdentifier</li>\r\n      <li>If the Listing status is \"AC/AV\" then Listing/Transaction status will be set to \"UN\"</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All the Mandatory fields must be provided</li>\r\n        <li>The parameters - idType is mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id should be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>If Listing does not exists in our system for the Listing GUID/ListingID/ProviderIdentifier supplied, the method will return �HTTP 404 - Not Found� error</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Listings_PatchListingIsOffMarket",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the Listing. It can be either Listing GUID or ListingID or Listing ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Listing GUID is provided as the identifier.\r\nIf the identifier provided is ListingID, the idType should be \"listingid\"\r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/listings/{id}/listinglandingpageurl" : {
      "patch" : {
        "tags" : [ "Listings" ],
        "summary" : "Listings_PatchListingLandingPageURL",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#PLL').toggle();\" />\r\n  <div id=\"ALM\">\r\n    <ul>\r\n      <li>This method will be used to update LandingPageURL for a Listing and ListingWebsites by using the Listing GUID or ListingID or ProviderIdentifier</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All the Mandatory fields must be provided</li>\r\n        <li>The parameters - idType and landingPageUrl are mandatory</li>\r\n        <li>If the idType supplied is 'id', then the supplied id should be a GUID - 32 hexadecimal digits separated by hyphens (format: 00000000-0000-0000-0000-000000000000)</li>\r\n        <li>If Listing does not exists in our system for the Listing GUID/ListingID/ProviderIdentifier supplied, the method will return �HTTP 404 - Not Found� error</li>\r\n        <li>If the provided LandingPageURL in not valid, the method will return \"Invalid URI: The format of the URI could not be determined\" error</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Listings_PatchListingLandingPageURL",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "This parameter represents the identifier of the Listing. It can be either Listing GUID or ListingID or Listing ProviderIdentifier",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "idType",
          "in" : "query",
          "description" : "This parameter represents the type of the identifier provided. \r\nThe value should be set to \"id\" if Listing GUID is provided as the identifier.\r\nIf the identifier provided is ListingID, the idType should be \"listingid\"\r\nIf the identifier provided is ProviderIdentifier, the idType should be \"providerid\"",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "landingPageUrl",
          "in" : "query",
          "description" : "This parameter is used to update LandingPageURL for Listing and ListingWebsites",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/offices/{officeGuid}" : {
      "get" : {
        "tags" : [ "Offices" ],
        "summary" : "Offices_Get",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#OGET').toggle();\" />\r\n  <div id=\"OGET\">\r\n    <ul>\r\n      <li>This method will provide all the Office details for the specified Office GUID.</li>\r\n      <li>This method will be used as a result of an office delta call.</li>\r\n      <li>Open or Executed Office information will be returned</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>If Office GUID does not exist in our system, API will return �HTTP 404 - Not Found� status code.</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Offices_Get",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "officeGuid",
          "in" : "path",
          "description" : "Format - uuid. This parameter represents the Office GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Office"
            }
          }
        }
      }
    },
    "/offices/delta" : {
      "get" : {
        "tags" : [ "Offices" ],
        "summary" : "Offices_Delta",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#ODELTA').toggle();\" />\r\n  <div id=\"ODELTA\">\r\n    <ul>\r\n      <li>This method will be used to get the list of Offices which got updated over the specified period of time. </li>\r\n      <li>The results can be filtered by brand or list of RFG Company IDs</li>\r\n      <li>The Date-Time format supported is standard date-time format (yyyy-MM-ddThh:mm:ss[.fffffff]). Example: 2015-02-13T06:40:48.937</li>\r\n      <li>This Method will return list of Office GUIDs (if available) that are created or modified between fromDate and toDate</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>FromDate is mandatory</li>\r\n        <li>If toDate is not supplied, system will take today's date</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Offices_Delta",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "fromDate",
          "in" : "query",
          "description" : "Format - date-time (as date-time in RFC3339). This parameter represents the Date from which the delta operation needs to be performed. <br />\r\nDataType: DateTime with offset (Standard formats allowed are - yyyy-MM-ddThh:mm:ss[.fffffff] zzz. Any DateTime without offset will be considered as Eastern Time)<br />\r\nExample: 2015-02-13T06:40:48.937-04:00",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "Format - date-time (as date-time in RFC3339). This parameter represents the Date to which the delta operation needs to be performed. <br />\r\nDataType: DateTime with offset (Standard formats allowed are - yyyy-MM-ddThh:mm:ss[.fffffff] zzz. Any DateTime without offset will be considered as Eastern Time)<br />\r\nExample: 2015-02-13T06:40:48.937-04:00",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "brandCode",
          "in" : "query",
          "description" : "This parameter represents the Brand Code",
          "required" : false,
          "type" : "string",
          "enum" : [ "BHG", "C21", "CB", "CBC", "ERA", "SIR", "ZAP", "ZIP" ]
        }, {
          "name" : "companyIds",
          "in" : "query",
          "description" : "This parameter represents the List of RFG Company IDs to be used for filtering the delta search results",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isLastUpdatedBy",
          "in" : "query",
          "description" : "If isLastUpdatedBy is true then Offices are displayed which are not updated by current user. If isLastUpdatedBy is false then all the Offices are displayed",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/EntityDeltaArray"
            }
          }
        }
      }
    },
    "/offices/{officeGuid}/designation" : {
      "patch" : {
        "tags" : [ "Offices" ],
        "summary" : "Offices_PatchDesignation",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#OPUTD').toggle();\" />\r\n  <div id=\"OPUTD\">\r\n    <ul>\r\n      <li>This method adds/updates designation or qualification of an office</li>\r\n      <li>An office can be awarded with 'Fine Homes &amp; Estates' ('13') or 'Commercial Investment Network' ('8') or C21 Global Real Estate Network ('71') designations</li>\r\n      <li>If an office has CIN or FHE or GREN designation and the designation status is 'Active' a charge will be generated for the processing office and the charge information will be sent to Oracle</li>\r\n      <li>The ActiveSince Date and the Deactivation Date provided will overwrite the existing data (if present)</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Mandatory Fields:</u>\r\n      </b>\r\n      <ol>\r\n        <li>DesignationCode OR DesignationDescription</li>\r\n        <li>ActiveSince</li>\r\n      </ol>\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All Mandatory Fields must be supplied</li>\r\n        <li>The OfficeGUID supplied must exist in the system</li>\r\n        <li>The ActiveSince Date for the designation must not be in the future</li>\r\n        <li>The DeactivatedOn Date for the designation must not be before the ActiveSince date</li>\r\n        <li>The only accepted designations are: 'Fine Homes &amp; Estates' ('13'), 'Commercial Investment Network' ('8') and C21 Global Real Estate Network ('71'). Any other designations will be rejected</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Offices_PatchDesignation",
        "consumes" : [ "application/vnd.realogyfg.v1+json" ],
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "officeGuid",
          "in" : "path",
          "description" : "Format - uuid. This parameter represents the Office GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "entityDesignation",
          "description" : "This parameter represents the Designation of the office",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EntityDesignation"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/offices/{officeGuid}/profiles" : {
      "patch" : {
        "tags" : [ "Offices" ],
        "summary" : "Offices_PatchProfiles",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#OPUTP').toggle();\" />\r\n  <div id=\"OPUTP\">\r\n    <ul>\r\n      <li>This method adds/updates profile information for an office by providing the Office GUID</li>\r\n      <li>This method will add/update (overwrite if the profile already exists) profile information for an office based on ProfileCategory and Language provided in the request</li>\r\n      <li>This method will update profile only if the profile was originally supplied by the provider. Otherwise it will be added as a new profile</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Mandatory Fields:</u>\r\n      </b>\r\n      <ol>\r\n        <li>ProfileCategoryCode OR ProfileCategoryDescription</li>\r\n        <li>LanguageCode OR LanguageName</li>\r\n        <li>ProfileText OR HtmlProfileText</li>\r\n      </ol>\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All Mandatory Fields must be supplied</li>\r\n        <li>The Office GUID supplied must exist in the system belonging to an Open/Executed Office</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Offices_PatchProfiles",
        "consumes" : [ "application/vnd.realogyfg.v1+json" ],
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
          "name" : "officeGuid",
          "in" : "path",
          "description" : "Format - uuid. This parameter represents the Office GUID. \r\nThis will be always of the format 32 hexadecimal digits separated by hyphens. <br />\r\nDataType: GUID (format: 00000000-0000-0000-0000-000000000000) <br />\r\nExample: 13a7337c-45e3-4eb4-a2b2-ee489b56ec8e",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "entityProfileArray",
          "description" : "This parameter represents the Collection of Office Profiles",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EntityProfileArray"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "NoContent"
          }
        }
      }
    },
    "/offices" : {
      "get" : {
        "tags" : [ "Offices" ],
        "summary" : "Offices_Search",
        "description" : "<remarks>\r\n  <input type=\"button\" value=\"Show/Hide\" onclick=\"$('#GTBC').toggle();\" />\r\n  <div id=\"GTBC\">\r\n    <ul>\r\n      <li>This method will be used to search all the offices by specifying one or more search criteria.</li>\r\n    </ul>\r\n    <div class=\"businessRule\">\r\n      <br />\r\n      <b>\r\n        <u>Mandatory Fields:</u>\r\n      </b>\r\n      <ol>\r\n        <li>Brand</li>\r\n        <li>Country</li>\r\n        <li>StateProvince or City</li>\r\n      </ol>\r\n      <br />\r\n      <b>\r\n        <u>Business Rules:</u>\r\n      </b>\r\n      <ol>\r\n        <li>All the Mandatory fields must be supplied</li>\r\n        <li>Only Offices that are in open or executed status and belonging to active companies will be returned</li>\r\n      </ol>\r\n    </div>\r\n  </div>\r\n</remarks>",
        "operationId" : "Offices_Search",
        "produces" : [ "application/vnd.realogyfg.v1+json" ],
        "parameters" : [ {
[...]
